<section>
    <app-icon 
        class="icon-left" 
        [icon]="Icon.CHEVRON_LEFT" 
        [color]="Color.WHITE" 
        [ngClass]="{'hide-icon': !showIconNavigators()}"
    ></app-icon>
    <app-icon 
        class="icon-right" 
        [icon]="Icon.CHEVRON_RIGHT" 
        [color]="Color.WHITE" 
        [ngClass]="{'hide-icon': !showIconNavigators()}"
    ></app-icon>
    <div [style]="setStyles()">
        <img src="{{swiper.slides[0].bgImage.desktopImage.url}}" alt="">
    </div>
</section>