<section class="swiper-container">

  <swiper 
    (swiper)="initSwiper($event)" 
    [direction]="'horizontal'" 
    [loop]="true" 
    [autoplay]="true"
    style="--swiper-pagination-color: #fff" 
    [pagination]="{ 
      dynamicBullets: true,
      clickable: true
    }"
  >
    <ng-template swiperSlide *ngFor="let slide of swiper?.slides">
      <ng-container [ngSwitch]="slide.contentTypeId">
        
        <app-banner 
          *ngSwitchCase="ContentType.BANNER" 
          [banner]="slide"
        ></app-banner>
        <app-category-icon 
          *ngSwitchCase="ContentType.CATEGORY_ICON" 
          [categoryIcon]="slide"
        ></app-category-icon>

      </ng-container>
    </ng-template>
  </swiper>

</section>