<section class="swiper-container">

  <swiper 
    (swiper)="initSwiper($event)" 
    [config]="config" 
    style="--swiper-pagination-color: #fff" 
  >
    <ng-template swiperSlide *ngFor="let slide of swiper?.slides">
      <ng-container [ngSwitch]="slide.contentTypeId">
        
        <app-banner 
          *ngSwitchCase="ContentType.BANNER" 
          [banner]="slide"
          [extraClass]="'banner-extra-class'"
        ></app-banner>
        <app-category-icon
          *ngSwitchCase="ContentType.IMAGE" 
          [categoryIcon]="slide"
        ></app-category-icon>

      </ng-container>
    </ng-template>
  </swiper>

</section>