<!-- <div class="flex flex-col h-full">
  <div class="flex flex-col">
    <header
      class="sticky top-0 z-50 bg-white"
      *ngIf="
        page && page.header && page.header.contentTypeId === ContentType.OR_HEADER && !isWebview
      "
    >

    </header>
    <main *ngIf="page">

    </main>
    <footer
      *ngIf="
        page && page.footer && page.footer.contentTypeId === ContentType.OR_FOOTER && !isWebview
      "
    >
      <or-footer [options]="page.footer"></or-footer>
    </footer>
  </div>
</div> -->
<h1 class="font-bold">Hola mundo</h1>
<p class="italic">Holaaaa</p>

