.page {
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #333333, #000000);
    background: linear-gradient(to bottom, #333333, #000000);

    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}