<div class="page">

  <div class="header" *ngIf="(page | async)?.header as header">
    <app-header [header]="header"></app-header>
  </div>

  <main *ngIf="(page | async)?.blocks as blocks">

    <ng-container *ngFor="let block of blocks" [ngSwitch]="block?.contentTypeId">
      <ng-container *ngSwitchCase="ContentType.SWIPER">
        <app-swiper [swiper]="block"></app-swiper>
      </ng-container>
      <ng-container *ngSwitchCase="ContentType.BANNER">
        <app-banner [banner]="block"></app-banner>
      </ng-container>
      <ng-container *ngSwitchCase="ContentType.SECTION">
        <app-section [section]="block"></app-section>
      </ng-container>
    </ng-container>

  </main>

  <app-footer [footer]="(page | async)?.footer"></app-footer>

</div>